TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 1000px; /* Ширина таблицы */
}
TH {
    background: #6495ED; /* Цвет фона ячейки */
    text-align: center; /* Выравнивание по левому краю */
}
TD {
    background: #fff; /* Цвет фона ячеек */
    text-align: center; /* Выравнивание по центру */
}
TH, TD {
    border: 1px solid black; /* Параметры рамки */
    padding: 4px; /* Поля вокруг текста */
}